.container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 40px;
}

.card {
    background-color: #fff;
    width: 370px;
    height: 437px;
    margin: 15px 12px;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.08);
    transition-duration: 0.5s;
}

.card:hover #try-it {
    background-color: #e8a130 !important;
 }

img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
    margin-top: -25px;
    z-index: -1;
}

.info {
    text-align: left;
    margin-left: 20px;
    text-transform: uppercase;
    color: #0037ae;
    justify-content: left;
    width: 50%;
}

.game-name {
    width: 100%;
    height: 40px;
    margin: 20px 0px 20px 0px;
}

.name{
    font-size: 1.5rem;
    font-family: Bison-DemiBold, serif;
    color: #0037ae;
    border-bottom: 1px solid #0037ae;
    margin-bottom: 30px;
    display: inline-block;
    padding-bottom: 10px;
}

.game-details{
    color: #555;
    margin-top: 40px;
}

.detail-section {
    display: flex;
    border: 1px solid #0037ae; 
    height: 230px;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    margin-top: -15px;
}

.action {
    width: 50%;
    margin-top: 110px;
}

.action-button {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 130px;
    height: 35px;
    background-color:#fff;
    border:1px solid #0037ae;
    color: #0037ae;
    cursor: pointer;
}

.action-button:hover {
    background-color: #e8a130;
}

.tags {
    border-radius: 5px;
    border: 0;
    margin-left: 1rem;
    border-radius: 5px;
    height: 35px;
    color: #ffffff;
}

.icons-tray {
    display: flex;
    margin-top: 153px;
}

.icons {
    height: 20px;
    width: 20px;
    z-index: inherit;
    margin-right: 10px;
}

.category {
    width: 100%;
    text-align: left;
    margin-left: 10px;
    font-size: 2.2rem;
    font-family: Bison-DemiBold, serif;
    color: #0037ae;
}

.iframe {
    height: 500px;
    width: 640px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .card {
        width: 320px;
        height: 405px;
    }

    .container {
        width: 700px;
    }

    .action-button {
        width: 100px;
        margin-left: 10px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .card {
        width: 320px;
        height: 380px;
    }

    .container {
        width: 305px;
        margin: 30px;
        justify-content: center;
        margin-top: 0px;
    }

    .category {
        margin-top: 0px;
    }

    .action-button {
        width: 100px;
    }
}
